/* Provide sufficient contrast against white background */
a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

button.MuiButtonBase-root:focus, .MuiIconButton-root:focus, .MuiButton-label:focus {
  outline: none;
}

.close-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: -10px;
}
.close-wrapper svg:hover {
  cursor: pointer;
}

.text-field {
  width: 100%;
  margin: 0.5em 0 !important;
}